
body{
  background-color: #F1F3F6;
}
.navbar{
    background-color: #2095a2;
}
.fg--search {
    background: white;
    position: relative;
    width: 100%;
  }
  
  .fg--search input {
    width: 100%;
    padding: 9px 0px 9px 35px;
    display: block;
    border-radius: 1px;
}
  
.magnifire {
  border-radius: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 8px;
    left: -263px;
    right: 0;
    /* padding: 18px 20px; */
    z-index: 2;
}
.button-mic{
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 15px !important;
}
  .button-map{
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 15px !important;
  }
  .notification{
    background: transparent;
    border: none;
  }
  .fg--search input:focus + button .fa-search {
    color: red;
  }
  ::placeholder{
    text-align: center;
  }
  .add-cart{
    float: right;
  }

  /* slickslide */
  .wrapper{
    /* max-height: 120px; */
    /* border: 1px solid #add; */

    display: flex;
    overflow-x:auto
  }
  .wrapper::-webkit-scrollbar{
    width: 0;
  }
  .wrapper .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 140px;
    margin: 0.7rem 12px;
    /* line-height: 40px; */
    /* text-align: center; */
    border-radius: 10px;
    background-color: #ffff;
    margin-right: 2px;
  }

hr{
  color: inherit;
  border: 0;
  border-top: 2px solid rgb(172, 172, 172);
  opacity: 1.25;
}